<div class="container-wrapper-inner">
<div class="container-fluid ng-scope" >
    <div class="inner-img inner-img-about"></div>
    <h1 class="container title">About Us</h1>

    <div class="container all-inner-pages-common all-inner-pages-common-2">
        <div class="top-left-header">
            <img class="img-responsive" src="assets/images/line.jpg"/>
        </div>
        <div class="col-md-4">
            <div class="page-left-menu hidden-sm hidden-xs">
                <!-- <h3>About Us</h3> -->
                <ul>
                    <li ui-sref-active="active">
                        <i class="fa fa-eye"></i>
                        <a href ui-sref="about.slugpage({slug:'our-vision'})" class="active">Our Vision</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </li>
                    <li ui-sref-active="active">
                        <i class="fa fa-eye"></i>
                        <a href ui-sref="about.slugpage({slug:'our-mission'})" class="active">Our Mission</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </li>
                    <li ui-sref-active="active">
                        <i class="fa fa-comments-o"></i>
                        <a href ui-sref="about.slugpage({slug:'message-from-the-principal'})" class="active">Message From the
                            Principal</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </li>
                    <li ui-sref-active="active">
                        <i class="fa fa-hourglass-half"></i>
                        <a href ui-sref="about.slugpage({slug:'history'})" class="active">History</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="lepage-container">
                <div id="page-right-content" ui-view="about">
                    <!--<h2>{{content[0].title}}</h2>-->
                    <p ng-bind-html="content[0].body"></p>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>