<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="lepage-container">
                <div class="lepage-content">
                    <div id="page-left-menu">
                        <h3>About Us</h3>
                        <ul>
                            <li>
                                <a href ui-sref="about.slugpage({slug:'page-twthe'})">Vision</a>
                            </li>
                            <li>
                                <a href ui-sref="about.slugpage({slug:'page-edi'})">Message From Principal</a>
                            </li>
                            <li>
                                <a href ui-sref="about.history">History</a>
                            </li>
                        </ul>
                    </div>
                    <div id="page-right-content" ui-view="about">
                        <h3>{{content[0].title}}</h3>
                        <p ng-bind-html="content[0].body"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>