
<p>
AsSalaamuAlaykumwaRahmatullah,<br/>

It is my pleasure to welcome you to Lakehead Grammar School’s website. At Lakehead we strive for excellence by providing quality education in an environment that ensures holistic upbringing of our children.

We are committed to motivate and empower our students to be lifelong learners and critical thinkers. Our aim is to nurture leadership qualities in our children enabling them to grow as individuals who will be confident of their identity, have strong character and upstanding citizenship and are aware of their global role. They will also be an embodiment of responsibility, excellent manners and Islamic tradition for others to look up to and follow.

Lakehead is not just a school that your child will be coming to, at Lakehead your child will find a home away from home. We have qualified and highly experienced teachers who are caring, and they are relentless in their efforts in providing the best academic atmosphere for your child.

Education is a joint venture between school and home. Therefore parents must work in partnership with school to help children reach their highest potential. Our children are like the seeds a farmer sows in the ground. With the right amount of water, air, sunshine the seed germinates and grows up to become a strong and healthy tree bearing sweet fruits. I firmly believe that with our joint efforts our children will grow up as individuals with strong character and they will bring a positive change to this world with their words, their presence and their actions.
</p>
<p>
I invite you to join us in this journey of making our vision a reality.
</p>

<p>
Jazaak Allah Khayr
<br/>
Principal

</p>