
<p>
<!--Vision OUR MISSION IS TO:<br/>-->

<!--Instill a strong sense of Muslim identity and a life-long commitment to living the faith.-->

<!--Provide a strong academic, student centered learning environment with opportunities that challenge students and inspire a love for learning.-->

<!--Foster a safe and supportive atmosphere that promotes self discipline, motivation and high self esteem.-->

<!--Recognize individual learning styles and engage students actively in the learning process.-->

<!--Continually evaluate and update instruction utilizing current research and technology.-->

<ul>The vision of Lakehead Grammar School is that our students will:
    <li>Live the faith</li>
    <li>Guide by example</li>
    <li>Strive for excellence</li>
</ul>
</p>

