<div class="container-wrapper-inner">
<div class="container-fluid">
  <div class="inner-img inner-img-curriculum"></div>
  <h2 class="container title">Curriculum</h2>
  <div class="container all-inner-pages-common all-inner-pages-common-2">
    <div class="top-left-header">

      <img class="img-responsive" src="assets/images/line.jpg"/>
    </div>
      <div class="col-md-4">
        <div class="page-left-menu hidden-sm hidden-xs">
          <!-- <h3>curriculum</h3> -->
          <ul>
            <li ui-sref-active="active">
              <i class="fa fa-eye"></i>
              <a href ui-sref="curriculum.slugpage({slug:'islamic-studies'})" class="active">Islamic Studies</a>
              <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-eye"></i>
              <a href ui-sref="curriculum.slugpage({slug:'quran'})" class="active">Quran</a>
              <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-eye"></i>
              <a href ui-sref="curriculum.slugpage({slug:'arabic'})" class="active">Arabic</a>
              <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-eye"></i>
                <a href ui-sref="curriculum.slugpage({slug:'early-years'})" class="active">Early Years</a>
                <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-comments-o"></i>
                <a href ui-sref="curriculum.slugpage({slug:'primary-years'})" class="active">Primary Years</a>
                <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-hourglass-half"></i>
              <a href ui-sref="curriculum.slugpage({slug:'middle-years'})" class="active">Middle Years</a>
              <i class="fa fa-angle-right pull-right"></i>
            </li>
            <li ui-sref-active="active">
              <i class="fa fa-hourglass-half"></i>
              <a href ui-sref="curriculum.slugpage({slug:'final-years'})" class="active">Final Years</a>
              <i class="fa fa-angle-right pull-right"></i>
            </li>
          </ul>

        </div>

      </div>


      <div class="col-md-8">
        <div class="lepage-container">

          <div id="page-right-content"  ui-view="about">
            <!-- <h2>{{content[0].title}}</h2> -->
            <p ng-bind-html="content[0].body"></p>

          </div>


        </div>
      </div>
  </div>
</div>
  </div>