

                 <p>
                     History The vision of Lakehead Grammar School is to guide the mind, body and spirit of the next generation, enabling them to reach their full potential. It seeks to encourage the highest standards in academic achievement, social responsibility and personal development in a specifically Islamic environment, producing future leaders and responsible global citizens.
                 </p>
                 <p>
                     History OUR MISSION IS TO:<br/>

                     Instill a strong sense of Muslim identity and a life-long commitment to living the faith.

                     Provide a strong academic, student centered learning environment with opportunities that challenge students and inspire a love for learning.

                     Foster a safe and supportive atmosphere that promotes self discipline, motivation and high self esteem.

                     Recognize individual learning styles and engage students actively in the learning process.

                     Continually evaluate and update instruction utilizing current research and technology.
                 </p>

