@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Petrona);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);

body {
    overflow-x: hidden;
    /*overflow-y:hidden;*/
}
h1,
h2,
h4 {
    font-family: 'Oswald', sans-serif;
}
h3 {
    /*font-family: 'Petrona', serif;*/
    
    font-family: lato;
}
p {
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    
    font-family: lato, sans-serif;
}
ul,
li {
    text-decoration: none;
}
#scroll_top {
    background: none repeat scroll 0 0 #4D7886;
    bottom: 200px;
    color: #FFFFFF;
    display: none;
    font-weight: bold;
    opacity: 0.8;
    padding: 15px 20px;
    position: fixed;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/*Menu start*/

#main-header {
    background-color: #fdfdfc;
    border: medium none;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    /*line-height: 115px;*/
    margin-bottom: 0;
    margin-top: 0;
    /*padding-top: 28px;*/
}
.clr {
    clear: both;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .arcus-navbar .nav > li > a {
        padding: 10px 8px;
    }
}
.arcus-navbar .menu-text {
    color: #fff;
}
#main-header .navbar-nav > li > a {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
    transition: all 0.2s;
    color: #fe9774;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
#main-header .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*background-color: #efefef;*/

    color: #333;
    -moz-box-shadow: 0 -3px 0px 0 #F56E14, 0px -3px 2px 0px #333;
    box-shadow: 0 -3px 0px 0 #F56E14, 0px -3px 2px 0px #333;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
/*Mobile menu start*/

.mobile-menu {
    margin-top: 0;
    margin-bottom: 0;
    /*background: none repeat scroll 0 0 #23262c;*/

    background-color: #fdfdfc;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu a {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 200;
}
.mobile-menu .nav > li a:hover {
    background-color: #E8E8E8;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
}
.mobile-menu .dropdown-menu a:hover {
    background-color: #E8E8E8;
    /*border-bottom: 0px solid #b3b3b3;*/
}
.navbar-inverse .navbar-toggle {
    border-color: #B5B5B5;
}
.mobile-menu .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}
.mobile-menu .navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #E8E8E8;
}
.mobile-menu .navbar-header {
    background-color: #fdfdfc;
    border: medium none;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu .navbar-right > li + li {
    margin-top: 0;
}
.mobile-menu .navbar-header img {
    width: 35px;
    height: 35px;
    margin: 7px 0 8px 14px;
    float: left;
}
.mobile-menu .navbar-header .h3-lakehead {
    float: left;
    margin: -6px auto;
    margin-left: 29%;
}
.mobile-menu .navbar-header h3 {
    font-family: 'Cinzel Decorative', cursive;
    /*margin: 12px auto;*/
}
@media (min-width: 480px) and (max-width: 768px) {
    .mobile-menu .navbar-header .h3-lakehead {
        margin-left: 29%;
    }
}
@media only screen and (max-width: 480px) {
    .mobile-menu .navbar-header .h3-lakehead {
        margin-left: 13%;
    }
}
.navbar-inverse .navbar-nav > .open > a {
    background-color: #E8E8E8;
}
.mobile-menu .navbar-right a {
    /*background-color: #23262c;*/
    background-color: #fdfdfc;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    line-height: 1.6;
    margin: 0 auto;
}
.mobile-menu .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:active,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #E8E8E8;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    color: #fff;
}
.mobile-menu .navbar-right img {
    width: 44px;
    height: 22px;
    float: left;
}
.mobile-menu .navbar-nav .open .dropdown-menu {
    position: relative;
    width: 100%;
    background-color: #fdfdfc;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/

    border: none;
    padding: 10px 0 10px 50px;
}
.mobile-menu .navbar-nav .open .dropdown-menu li {
    background-color: #fdfdfc;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu .dropdown-menu li a {
    color: #fff;
}
.mobile-menu .dropdown-menu li a:hover {
    /*background-color: #E8E8E8;*/
}
.mobile-menu .navbar-collapse {
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.mobile-menu .navbar-collapse .navbar-nav {
    margin: 0px -15px;
}
/*Mobile menu end*/
.mobile-top-div {
    position: relative;
    overflow: hidden;
    display: block;
}
.mobile-top-div-text {
    position: absolute;
    top: 44%;
    margin: 0 auto;
    text-align: center;
}
.mobile-top-div-text h2 {
    color: #efefef;
    font-size: 4vmin;
    text-shadow: 3px 3px 2px #505050;
    text-transform: uppercase;
}
.mobile-top-div-text h3 {
    color: #dfdfc9;
    margin-top: 0;
    font-family: lato;
    font-size: 2.5vmin;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #101010;
    text-transform: uppercase;
    text-align: center;
}
/*mobile-top-div-text End*/

.menu-common {
    /*margin: auto;*/

    background-repeat: no-repeat;
    /*background-size: 40px 40px;*/

    height: 21px;
    width: 21px;
    /*color: #fe9774;*/
}
.nabvar-lt {
    /*display: block;*/

    margin: auto;
}
.nabvar-lt a {
    color: #000;
    text-align: center;
}
#menu-facilaties {
    background-image: url("../images/home.svg");
}
#menu-aboutus {
    background-image: url("../images/about-us.svg");
}
#menu-curriculam {
    background-image: url("../images/curriculam.svg");
}
#menu-carreer {
    background-image: url("../images/carreer.svg");
}
#menu-gallery {
    background-image: url("../images/gallery.svg");
}
#menu-news-events {
    background-image: url("../images/news-events.svg");
}
#menu-pupils {
    background-image: url("../images/pupils.svg");
}
#menu-parents {
    background-image: url("../images/parents.svg");
}
/*Menu End*/

#top_triangle {
    border-left: 3vw solid rgba(0, 0, 0, 0);
    border-right: 3vw solid rgba(0, 0, 0, 0);
    border-top: 2vw solid #FDFDFC;
    height: 0;
    margin: auto;
    /*position: absolute;*/

    width: 0;
    /*z-index: 5;*/
}
.la_topslide_div {
    background: #000;
}
/*Slide text-block start*/

@media only screen and (min-width: 1800px) {
    #la_topslide_div .top-slide-block {
        /*margin-top: 560px;*/

        margin-left: 27%;
        margin-right: 27%;
    }
}
@media (min-width: 1200px) and (max-width: 1800px) {
    #la_topslide_div .top-slide-block {
        /*margin-top: 294px;*/
        margin-left: 15%;
        margin-right: 15%;
    }
}
#la_topslide_div .top-slide-block {
    display: block;
    position: absolute;
    margin-top: -420px;
    z-index: 1;
    color: #fff;
    /*margin-left: 40%;*/
    /*margin-right: 40%;*/
}
#la_topslide_div .top-slide-block img {
    display: inline-block;
}
#la_topslide_div .top-slide-block h1 {
    color: #efefef;
    font-size: 78px;
    text-shadow: 3px 3px 2px #505050;
    text-transform: uppercase;
}
#la_topslide_div .top-slide-block h2 {
    color: #dfdfc9;
    font-family: lato;
    font-size: 23px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #101010;
    text-transform: uppercase;
}
/*#la_topslide_div .top-slide-block h2::before {*/
/*content: "";*/
/*border-top: 1px solid #fff;*/
/*position: absolute;*/
/*/!*width: 250px;*!/*/
/*/!*left: 384px;*!/*/
/*/!*top: 18px;*!/*/
/*}*/
/*@media only screen and (min-width : 1800px) {*/
/*#la_topslide_div .top-slide-block h2::before {*/
/*width: 250px;*/
/*left: 384px;*/
/*top: 18px;*/
/*}*/
/*}*/
/*@media (min-width: 1200px) and (max-width: 1800px) {*/
/*#la_topslide_div .top-slide-block h2::before {*/
/*width: 200px;*/
/*left: 137px;*/
/*top: 18px;*/
/*}*/
/*}*/
/*#la_topslide_div .top-slide-block h2::after {*/
/*content: "";*/
/*border-top: 1px solid #fff;*/
/*position: absolute;*/
/*/!*width: 250px;*!/*/
/*/!*right: 384px;*!/*/
/*/!*top: 18px;*!/*/
/*}*/
/*@media only screen and (min-width : 1800px) {*/
/*#la_topslide_div .top-slide-block h2::after {*/
/*width: 250px;*/
/*right: 384px;*/
/*top: 18px;*/
/*}*/
/*}*/
/*@media (min-width: 1200px) and (max-width: 1800px) {*/
/*#la_topslide_div .top-slide-block h2::after {*/
/*width: 200px;*/
/*right: 137px;*/
/*top: 18px;*/
/*}*/
/*}*/

#la_topslide_div .top-slide-block button {
    border-radius: 100px;
    padding: 15px 80px;
    font-size: 22px;
    background-color: #4F5B48;
    border: none;
    color: #fff;
}
/*Slide text-block End*/

.triangle_common {
    border-left: 13vw dotted;
    border-right: 13vw dotted;
    border-top: 11vw solid;
    height: 0;
    margin: auto;
    width: 0;
    position: relative;
}
#facilities_triangle {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0.2);
}
.triangle_common .tri_content_div {
    /*bottom: 2vw;*/

    left: -3.3vw;
    position: absolute;
}
.tri_content_div .triang_img_div {
    /*background: none repeat scroll 0 0 #FF0000;*/

    height: 4vw;
    margin: 0.2vw auto;
    width: 4vw;
}
.triangle_common .tri_content_div span {
    color: #ffffff;
    display: block;
    font-family: Lato;
    font-size: 1.3vw;
    margin: 1vw auto;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/*25-06-15*/
/*Update1 start*/

.update1-main-wrapper {
    background-color: #51c388;
    padding-bottom: 10%;
}
/*.update1-main-wrapper hr {

}
*/

#updates1_triangle {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: #3c3855;
}
.update1-main-wrapper h1,
h2,
h3,
h4,
h5 {
    color: #fff;
    /*text-shadow: 1px 1px 1px #707070;*/
}
.update1-main-wrapper h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media only screen and (max-width: 480px) {
    .update1-main-wrapper h1 {
        letter-spacing: 0;
    }
}
.update1-main-wrapper .update1-left-wrapper {
    background-color: #61d398;
    min-height: 865px;
    padding: 30px 60px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
.update1-main-wrapper .update1-right-wrapper {
    min-height: 865px;
    background-color: #66d89d;
    padding: 30px 60px;
}
.update1-main-wrapper .update1-right-wrapper .block {
    font-family: lato;
    text-shadow: 0 1px 1px #31a868;
}
/*.text-center.update1-left-wrapper {*/
/*background-color: #61d398;*/
/*height: 851px;*/
/*padding: 30px 60px;*/
/*}*/

.update1-main-wrapper .upcoming-events img {
    width: 50px;
    position: relative;
}
@media only screen and (min-width: 992px) {
    .update1-main-wrapper .update1-right-wrapper {
        padding-left: 80px;
    }
    .update1-main-wrapper .upcoming-events img {
        margin-left: 209px;
    }
}
@media only screen and (max-width: 992px) {
    .update1-main-wrapper .upcoming-events img {
        margin-left: 340px;
    }
}
@media only screen and (min-width: 992px) {
    .update1-main-wrapper .upcoming-events img {
        margin-left: 209px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .update1-main-wrapper .upcoming-events img {
        margin-left: 340px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .update1-main-wrapper .upcoming-events img {
        margin-left: 185px;
        margin-top: 45px;
    }
}
.update1-main-wrapper .update1-left-wrapper .latest-article img {
    width: 170px;
    height: 150px;
    float: left;
    margin-right: 42px;
}
.update1-main-wrapper .update1-left-wrapper .latest-article h2,
h3 {
    text-align: left;
}
.update1-main-wrapper .update1-left-wrapper .latest-article h3 {
    font-size: 20px;
}
.update1-main-wrapper .block {
    padding: 15px 0;
    /*padding-top: 50px;
    padding-bottom: 35px;*/
    /*font-size: 20px;*/
}
.update1-main-wrapper .update1-left-wrapper .latest-article .block-text h3 {
    color: #fff;
}
/*Update1 End*/
/*Update2 Start*/

.update2-main-wrapper {
    background: #ec735b;
    padding-bottom: 200px;
}
.update2-main-wrapper .head-text h1 {
    color: #fff;
    font-size: 3.93vw;
    text-shadow: 7px 7px 1px #e16850;
}
.update2-main-wrapper .head-text h2 {
    color: #f2dfa9;
    font-size: 1.92vw;
    text-align: center;
    text-shadow: 0 5px 1px #e16850;
}
#updates2_triangle {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: #51c388;
}
.update2-main-wrapper .img-slider img {
    border: 10px solid #fff3db;
    box-shadow: 3px 3px 10px 0 #bc432b;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
.update2-main-wrapper .img-slider {
    padding-top: 90px;
}
.update2-main-wrapper .img-slider h4 {
    font-style: italic;
    font-family: lato;
    line-height: 35px;
    margin: 16px auto;
    letter-spacing: 3px;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
@media only screen and (min-width: 992px) {
    .update2-main-wrapper .img-slider .img-slider-col2 {
        /*margin-left: -20px;*/
        /*margin-right: -20px;*/
    }
}
/*Update2 End*/
/*Contact Start*/

.contact-main-wrapper {
    background-color: #e7f0ee;
    padding-bottom: 150px;
}
#contact_triangle {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: #ec735b;
}
.contact-main-wrapper .contact-form {
    overflow: hidden;
    margin-top: 150px;
}
.contact-main-wrapper .contact-form input {
    border-radius: 0;
    border: none;
    /*color: #ffffff;*/

    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    height: 80px;
    letter-spacing: 5px;
    padding: 6px 30px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

    box-shadow: 1px 0 10px -5px #333;
    /*text-transform: capitalize;*/
}
.contact-main-wrapper .contact-form textarea {
    border: none;
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-left: 43px;
    box-shadow: 1px 0 10px -5px #333;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*text-transform: capitalize;*/
}
.contact-main-wrapper .contact-form button {
    border-radius: 0;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contact-main-wrapper .address-map-wrapper {
    margin-top: 90px;
    overflow: hidden;
}
.contact-main-wrapper .address-map-wrapper .our-address {
    background-color: #D4ECF3;
    border: 1px solid white;
    /*box-shadow: 1px 0 8px 0 #bdcfd4;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-height: 450px;
}
@media only screen and (max-width: 768px) {
    .contact-main-wrapper .address-map-wrapper .our-address {
        padding-left: 0;
        padding-right: 0;
        min-height: 500px;
        word-break: break-all;
    }
    .contact-main-wrapper .address-map-wrapper .soc-icon-div img {
        width: 40px;
    }
}
.contact-main-wrapper .address-map-wrapper .address-block {
    display: block;
    padding: 15px;
}
.contact-main-wrapper .address-map-wrapper .address-block h5 {
    color: #7495B1;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 1px 1px #bdcfd4;
}
.contact-main-wrapper .address-map-wrapper .address-block h3 {
    color: #9bb2b9;
    font-family: lato;
    font-size: 28px;
    text-shadow: 0 1px 1px #efefef;
    text-transform: uppercase;
}
.contact-main-wrapper .address-map-wrapper .ma-ph-div {
    color: #7495B1;
    font-family: lato;
    font-size: 20px;
    padding: 0 0 10px 10px;
    text-shadow: 0 1px 1px #bdcfd4;
}
.contact-main-wrapper .address-map-wrapper span {
    padding-right: 5px;
}
.contact-main-wrapper .address-map-wrapper .soc-icon-div {
    position: absolute;
    padding-top: 48px;
}
@media only screen and (max-width: 768px) {
    .contact-main-wrapper .address-map-wrapper .soc-icon-div {
        padding-top: 0;
    }
}
.contact-main-wrapper .address-map-wrapper .soc-icon-div div {
    float: left;
    padding-right: 15px;
}
.contact-main-wrapper .address-map-wrapper .soc-icon-div img {
    /*width: 60px;*/
}
.contact-main-wrapper .address-map-wrapper .map-img {
    margin-top: 23px;
    width: 75%;
}
@media only screen and (max-width: 768px) {
    .contact-main-wrapper .address-map-wrapper .map-img {
        margin-top: 65px;
        width: 66%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .contact-main-wrapper .address-map-wrapper .map-img {
        margin-top: 65px;
        width: 66%;
    }
}
/*Contact End*/

#la_facilities_div {
    background: #3c3855 none repeat scroll 0 0;
    padding-bottom: 130px;
    /*padding-bottom: 35%*/
}
#la_facilities_div section .facilities-btn {
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
}
@media (max-width: 768px) {
    #la_facilities_div section .facilities-btn {
        margin-top: -6px;
        font-size: 11px;
    }
}
@media (min-width: 1200px) {
    #la_facilities_div section .facilities-btn {
        font-size: 26px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .faci_inner_cont p {
        margin-bottom: 0;
    }
}
.faci_cont_comm {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #46425f;
    /*box-shadow: 0.1vw -0.1vw 0.5vw -0.2vw #303030;*/

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    margin-bottom: 25px;
    position: relative;
    /*border-image: none;*/
    /*border-style: none solid solid;*/
    /*border-width: medium 5px 5px;*/
    /*border-top: 5px solid;*/
}
.faci_cont_comm img {
    width: 100%;
}
.faci_cont_one {} .faci_cont_one-multimedia {} #faci_cont_two {} #faci_cont_three {} .faci_inner_cont {
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(30, 30, 30, 0.7);
    bottom: 0;
    display: block;
    height: 150px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.faci_inner_cont .faci_innar_ico_div {
    margin: 2vw auto;
    width: 2vw;
}
/*@media only screen and (max-width : 768px) {
    .faci_inner_cont .faci_innar_ico_div {
        height: 1vw;
        width: 3vw;
    }
}
*/

.faci_inner_cont h2 {
    color: #bfbfbf;
    font-size: 140%;
    font-weight: lighter;
    letter-spacing: 10px;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    .faci_inner_cont h2 {
        letter-spacing: 5px;
    }
    .faci_inner_cont {
        height: 76px;
    }
    .faci_inner_cont h2 {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.faci_inner_cont p {
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .faci_inner_cont p {
        font-size: 14px;
        padding: 0 7px;
    }
}
@media only screen and (min-width: 1200px) {
    .faci_inner_cont p {
        /*margin-bottom: 34px;*/
    }
}
.faci_inner_cont a {
    border: 0.3vw solid #FFFFFF;
    border-radius: 2vw;
    color: #FFFFFF;
    display: block;
    font-size: 1.2vw;
    margin: 1vw auto;
    padding: 0.7vw 2vw;
    text-align: center;
    width: 60%;
}
.header_h2_h3 {
    margin: 3vw auto;
    text-align: center;
}
.header_h2_h3 h1 {
    color: #f2dfa9;
    font-size: 3.93vw;
    font-weight: lighter;
    letter-spacing: 2px;
    /*text-align: center;*/

    text-shadow: 7px 7px 1px #312d4a;
    text-transform: uppercase;
}
.header_h2_h3 h2 {
    font-family: 'Oswald', sans-serif;
    color: #cfcfcf;
    font-size: 2vmax;
    font-weight: lighter;
    letter-spacing: 0;
    /*text-align: center;*/
    text-shadow: 0 5px 1px #2f2b48;
}
@media only screen and (max-width: 768px) {
    .header_h2_h3 h1 {
        font-size: 5vw;
    }
    .header_h2_h3 h2 {
        font-size: 3vw;
        margin-bottom: -5vh;
    }
}
/*-----25June End------------------*/
/*------25June Start--------------*/

.container-wrapper-inner {
    border-top: 1px solid #efefef;
    background: rgba(0, 0, 0, 0) url("../images/inner-bg.jpg") repeat;
}
.inner-img {
    height: 450px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    margin-left: -15px;
    margin-right: -15px;
}
.inner-img-about {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/about.jpg") repeat scroll 0 0 / cover;
}
.inner-img-admission {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/admission.jpg") repeat scroll 0 0 / cover;
}
.inner-img-career {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/career.jpg") repeat scroll 0 0 / cover;
}
.inner-img-curriculum {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/curriculum.jpg") repeat scroll 0 0 / cover;
}
.inner-img-parents {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/parents.jpg") repeat scroll 0 0 / cover;
}
.inner-img-pupils {
    background: rgba(0, 0, 0, 0) url("../images/Inner-page-banner/pupils.jpg") repeat scroll 0 0 / cover;
}
.all-inner-pages-common {
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #e9e9e9;
    box-shadow: 0 0 10px -4px #333;
    margin-bottom: 20vh;
    margin-top: 0;
    padding: 80px 20px;
}
@media only screen and (max-width: 480px) {
    .all-inner-pages-common {
        padding: 30px 20px;
    }
}
.all-inner-pages-common-2 h2,
h3 {
    color: #000;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.all-inner-pages-common-2 .top-left-header {
    margin-left: 15px;
    margin-bottom: 40px;
}
.title {
    color: #efefef;
    font-family: oswald;
    font-size: 60px;
    letter-spacing: 10px;
    /*margin-left: 11.3%;*/
    margin-top: -370px;
    text-align: left;
    /*text-shadow: 0 5px 1px #ad1810, -2px -2px 0 #ed584e;*/

    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
    .title {
        margin-left: 38px;
        padding-bottom: 35px;
        font-size: 29px;
        /*font-size: 174%;*/
    }
}
.page-left-menu {
    background-color: #464646;
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media only screen and (max-width: 480px) {
    .page-left-menu {
        padding: 0;
        margin-left: 0;
        margin-right: -15px;
    }
}
.page-left-menu h3 {
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 0;
}
.page-left-menu ul {
    padding-left: 0vw;
}
.page-left-menu ul li {
    display: block;
    margin-top: 0.1vw;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.page-left-menu ul i {
    font-size: 20px;
    margin: 10px;
}
.page-left-menu ul li a {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
}
.page-left-menu ul li a:hover {
    /*background: none repeat scroll 0 0 #2F0110;*/
    /*color: #FFFFFF;
    font-size: 24px;*/
}
.lepage-container h2 {
    color: #000;
}
#page-right-content {
    color: #777777;
    -moz-box-sizing: border-box;
    margin-top: -15px;
    word-break: break-all;
}
#page-right-content h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
#page-right-content p {
    font-size: 14px;
    word-break: normal;
}
#contactFrm label {
    text-align: left;
    font-size: 14px;
    /*text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
/*-----25June End------------------*/

.container-award-giving-ceremony .well {
    background-color: #ADADAD;
    color: #fff;
    border: none;
    border-radius: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
.container-award-giving-ceremony .well h1 {
    font-size: 24px;
    padding-top: 28px;
}
.container-award-giving-ceremony img {
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contact-us {
    min-height: 593px;
}
.contact-us input,
textarea {
    border-radius: 0;
    background-color: #EAEAEA;
    border: 0px solid #cccccc;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
.contact-us .panel-default {
    border: 1px solid #eaeaea;
    border-radius: 0;
    box-shadow: 3px 3px 5px -5px #939393;
    /*min-height: 593px;*/
}
.contact-us button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
.contact-us .contact-form {
    margin-bottom: 30px;
}
.contact-us h3,
label {
    font-family: 'Lato', sans-serif;
    text-shadow: none;
    text-transform: uppercase;
}
.contact-us h3 {
    color: #7D7B7B;
    /*text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
.contact-us .contact-form strong {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #666;
    font-weight: lighter;
}
.contact-us-location p {
    text-align: left;
    color: #666;
    font-weight: lighter;
    position: relative;
    left: 15px;
}
.recruitment-wrapper .contact-us {
    min-height: 452px;
}
.recruitment-wrapper #inputUppdf {
    width: 100%;
    height: 40px;
    padding: 10px;
}
.main-logo{
    position: absolute;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    z-index: 12;
    top: 2px;
}