/*Top slide start*/

#la_topslide_div .carousel-control {
    z-index: 1;


    /*height: 100px;*/
    /*width: 40px;*/
    border: 20px;
    /*top: 260px;*/
    cursor: pointer;
    width: 0%;
    opacity: 1;
}


#la_topslide_div a.carousel-control.right {
    /*right: -50px;*/
}
#la_topslide_div a.carousel-control.left {
    /*left: -50px;*/
}
#la_topslide_div .carousel-control .icon-prev:before {
    /*content: '\2039';*/
    
    content: url("../images/slices/left.png");
    margin-left: -37px;
}
#la_topslide_div .carousel-control .icon-next:before {
    /*content: '\203a';*/

    content: url("../images/slices/right.png");
    margin-left: -8px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
/*Top slide End*/
/*update2 slide start*/

.update2-main-wrapper .carousel-control .icon-prev {
    margin-top: -65px;
    /*left: -70%;*/
}
.update2-main-wrapper .carousel-control .icon-prev:before {
    /*content: '\2039';*/
    
    content: url("../images/arrow-snd-l.png");
}
.update2-main-wrapper .carousel-control .icon-next {
    margin-top: -65px;
    /*right: -56%;*/
}
.update2-main-wrapper .carousel-control .icon-next:before {
    /*content: '\203a';*/
    
    content: url("../images/arrow-snd-r.png");
}
/*update2 slide End*/
/*------------Bootstrap Overwrite End----------*/

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 0.8vw;
    font-weight: normal;
}
/*------------Bootstrap Overwrite End----------*/