<div class="container-wrapper-inner">
    <div class="container-fluid">
        <div class="inner-img inner-img-career"></div>
        <h2 class="container title">Career</h2>

        <div class="container all-inner-pages-common all-inner-pages-common-2" style="padding: 130px 20px;">
            <div class="top-left-header">
                <img class="img-responsive" src="assets/images/line.jpg"/>
            </div>

            <div class="col-md-4">
                <div class="page-left-menu hidden-sm hidden-xs">
                    <!-- <h3>Career</h3> -->
                    <ul>
                        <li ui-sref-active="active">
                            <i class="fa fa-eye"></i>
                            <a href ui-sref="career.recruitment" class="active">Recruitment</a>
                            <i class="fa fa-angle-right pull-right"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="lepage-container">
                    <div id="page-right-content" ui-view="career">
                        <!-- <h2>{{content[0].title}}</h2> -->
                        <p ng-bind-html="content[0].body"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>