<h2>Recruitment</h2>
<div class="panel panel-default recruitment-wrapper">
    <div class="contact-us">
        <div class="panel-body">
            <div class="text-center contact-form">
                <!--<h3 class="text-center">Contact Form</h3>-->
                <strong>Please fill this out</strong>
            </div>
            <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" id="contactFrm" name="userForm"
                  ng-submit="submitForm(userForm.$valid)" ng-controller="RecruitmentCtrl" novalidate>
                <div class="form-group">
                    <label for="inputName" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="email.name" class="form-control ng-pristine ng-invalid ng-invalid-required" id="inputName" required="">
                        <p ng-show="userForm.name.$invalid &amp;&amp; !userForm.name.$pristine" class="help-block ng-hide">You name is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" ng-model="email.mail" name="email" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" id="inputEmail" required="">
                        <p ng-show="userForm.email.$invalid &amp;&amp; !userForm.email.$pristine" class="help-block ng-hide">Enter a valid email.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputSubject" class="col-sm-4 control-label">Apply for Position</label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="email.subject" class="form-control ng-pristine ng-invalid ng-invalid-required" id="inputSubject" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputUppdf" class="col-sm-6 control-label">Upload Resume(pdf) with Photo</label>
                    <div class="col-sm-6">
                        <input type="file" ng-model="email.uploadPdf" id="inputUppdf" class="button " ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4">
                        <button type="button" class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="sendResume(email)" disabled="disabled">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>