<div class="container-fluid" id="la_facilities_div">
  <div class="container" style="background: yellow">
    <div class="row">

      <div class="col-md-4">

        <div id="page-left-menu">
          <h3>Career</h3>
          <ul>
            <li><a href ui-sref="career.recruitment">Recruitment</a></li>

          </ul>


        </div>

      </div>


      <div class="col-md-8">
        <div class="lepage-container">

          <div id="page-right-content" ui-view="career">
            <h2>{{content[0].title}}</h2>
            <p ng-bind-html="content[0].body"></p>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>