<div class="container-wrapper-inner">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="all-inner-pages-common-2">
                    <div class="top-left-header">
                        <h2>Contact Us</h2>
                        <img class="img-responsive" src="assets/images/line.jpg"/>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="contact-us">
                            <div class="panel-body" style="height: 61vh;">
                                <div class="text-center contact-form">
                                    <h3 class="text-center">Contact Form</h3>
                                    <strong>Please fill this out</strong>
                                </div>
                                <form class="form-horizontal" id="contactFrm" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" ng-model="email.name" class="form-control" id="inputName" required>
                                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="email" ng-model="email.mail" name="email" class="form-control" id="inputEmail" required>
                                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSubject" class="col-sm-2 control-label">Subject</label>

                                        <div class="col-sm-10">
                                            <input type="text" ng-model="email.subject" class="form-control" id="inputSubject" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="col-sm-2 control-label">Message</label>

                                        <div class="col-sm-10">
                                            <textarea class="col-sm-10" ng-model="email.msg" rows="5" id="inputMessage" style="width:100%;"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <button type="button" class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="sendMail(email)">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                        <div class="contact-us-location">
                            <!--<h1>Our Office</h1>-->
                            <div class="panel panel-default">
                                <div class="contact-us">

                                <div class="panel-body">
                                    <h3 class="text-center">Location</h3>

                                    <p class="text-center hidden-xs">Dhanmondi Branch: House No. 59, Road No. 6/A</br> Dhanmondi
                                        R/A, Dhaka - 1205</br> Phone: 9135448</br></br>

                                        Road # 135, House # SEB-6</br> Gulshan-01, Dhaka-1212</br> Phone - 986-2750, 988-2741</br>
                                    </p>
                                    <p class="text-center hidden-lg hidden-md hidden-sm" style="left: 0">Dhanmondi Branch: House No. 59, Road No. 6/A</br> Dhanmondi
                                        R/A, Dhaka - 1205</br> Phone: 9135448</br></br>

                                        Banani Branch: House No. 83, Road No. 16</br> Block - A, Banani, Dhaka -
                                        1212</br> Phone - 9882741, 9862750</br>
                                    </p>
                                </div>
                                <div class="col-md-6 hidden-sm hidden-xs">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                                            width="480" height="348" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                                <div class="col-md-6 hidden-lg hidden-md hidden-xs">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                                            width="480" height="348" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                                <div class="col-xs-6 hidden-lg hidden-md hidden-sm">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                                            width="203" height="300" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>