<div class="container-award-giving-ceremony">
	<div class="well text-center">
		<h1>Lakehead Award Giving Ceremony</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2" ng-repeat="image in images" style="padding:12px;">
				<!--<a href ui-sref="awardGivingCeremony" class="hvr-grow">-->
					<!--<img class="img-responsive" ng-src="{{url.link}}"/>-->
				<!--</a>-->

				<a href="" ui-sref="awardGivingCeremony" ng-click="openLightboxModal($index)">
					<img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-responsive">
				</a>
			</div>
		</div>
	</div>
</div>


