<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle">

    </title>

    <!-- for Google -->
    <meta name="description"
          content="Meta description. At Lakehead we aim to provide the following for your child:To develop an islamic personality through the inculcation of islamic values by integrating islam into the curriculum."/>
    <meta name="keywords"
          content=" admission, teacher, student, school, madrasha, islamic school, online school, grammer, muslim school, grammer school, qiraat competition, child school"/>
    <meta name="copyright" content="lakehead.com "/>
    <meta name="application-name" content="lakehead.com"/>


    <!-- for Facebook -->
    <meta property="og:title"
          content="To develop an islamic personality through the inculcation of islamic values by integrating islam into the curriculum"/>
    <meta property="og:type" content="school "/>
    <meta property="og:image" content="http://lakehead.com/logo.png "/>
    <meta property="og:url" content="http://lakehead.com "/>
    <meta property="og:description"
          content="To model islamic behaviour through our teachers as children learn and adopt new behaviour easily from those they idealise.Freedom, opportunity and encouragement towards developing responsibility, self control and independence while maintaning respect for others. "/>


    <!-- for Twitter -->
    <meta name="twitter:card" content="grammer"/>
    <meta name="twitter:title"
          content="To develop an islamic personality through the inculcation of islamic values by integrating islam into the curriculum"/>
    <meta name="twitter:description"
          content="To model islamic behaviour through our teachers as children learn and adopt new behaviour easily from those they idealise"/>
    <meta name="twitter:image" content="http://lakehead.com/logo.png"/>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lakehead">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@lakehead">
    <meta name="twitter:image:src"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bit.ly/ngBoilerplate"/>
    <meta property="og:image"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846"/>
    <meta property="og:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--Favicon for Apple and Other-->
    <link rel="apple-touch-icon" sizes="192x192" type="images/png" href="assets/images/favicon.png">
    <link rel="icon" sizes="192x192" type="images/png" href="assets/images/favicon.png">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

   
    <!--<script src="http://maps.googleapis.com/maps/api/js"></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/angular-bootstrap-lightbox.min.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css" type='text/css' media='all'/>
    <link rel="stylesheet" type="text/css" href="assets/css/frontendcss.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/overwritecss.css"/>



</head>


<body>


<div class="se-pre-con">
    <!--<i class="fa fa-refresh fa-spin"></i>-->
</div>
<style>
    .no-js #loader {
        display: none;
    }

    .js #loader {
        display: block;
        position: absolute;
        left: 100px;
        top: 0;
    }

    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(assets/images/loader2.gif) center no-repeat #F9F9F9;
    }
</style>

<!--<div class="container-fluid navbar navbar-default visible-sm visible-xs mobile-menu-wrapper">-->
<nav class="navbar navbar-inverse visible-sm visible-xs mobile-menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href ui-sref="home"><img class="img-responsive wow zoomIn animated hvr-grow-shadow" data-wow-delay="1s" src="assets/images/favicon.png"/></a>
            <div class="h3-lakehead">
                <h3>Lakehead</h3>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Lakehead</a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="collapse" data-target="#myNavbar">
                    <a href ui-sref="home"><img class="img-responsive hvr-grow" src="assets/images/home.svg"/>Home</a>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href ui-sref="about">
                        <img class="img-responsive hvr-grow" src="assets/images/about-us.svg"/>
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="about" class="active">About Us</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/vision" ui-sref="about.slugpage({slug:'vision'})" class="active">Vision</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/message-from-principal" ui-sref="about.slugpage({slug:'message-from-principal'})" class="active">Message From
                            Principal</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/history" ui-sref="about.slugpage({slug:'history'})" class="active">History</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="curriculum"><img class="img-responsive hvr-grow" src="assets/images/curriculam.svg"/>
                        Curriculum
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="curriculum" class="active">Curriculum</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="curriculum.slugpage({slug:'elementary-years'})" class="active">Elementary Years</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="curriculum.slugpage({slug:'primary-years'})" class="active">Primary Years</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="curriculum.slugpage({slug:'middle-years'})" class="active">Middle Years</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="curriculum.slugpage({slug:'final-years'})" class="active">Final Years</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="admission"><img class="img-responsive hvr-grow" src="assets/images/news-events.svg"/>
                        Admission
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="admission" class="active">Admission</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="admission.slugpage({slug:'admission-policy'})" class="active">Admission Policy</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="admission.slugpage({slug:'admission-procedure'})" class="active">Admission Procedure</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="career"><img class="img-responsive hvr-grow" src="assets/images/carreer.svg"/>
                        Career
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="career" class="active">Career</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="career.recruitment" class="active">Recruitment</a></li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="contactus"><img class="img-responsive hvr-grow" src="assets/images/gallery.svg"/>
                    Contact Us</a>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="pupils"><img class="img-responsive hvr-grow" src="assets/images/pupils.svg"/>
                        Students
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="pupils" class="active">Students</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="pupils.slugpage({slug:'student-council'})" class="active">Student Council</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="parents"><img class="img-responsive hvr-grow" src="assets/images/parents.svg"/>
                        Parents
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="parents" class="active">Parents</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="parents.slugpage({slug:'effective-islamic-parenting'})" class="active">Effective Islamic Parenting</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="parents.slugpage({slug:'help-us-to-help-you'})" class="active">Effective Islamic Parenting</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--</div>-->

<div class="navbar navbar-default hidden-sm hidden-xs" id="main-header">
    <!--</div>-->
    <div class="container arcus-navbar"  style="background: url('assets/images/slices/menu-trapez.png') no-repeat center;">

        <div class="row" style="padding: 12px 112px">

            <ul class="nav navbar-nav nabvar-lt pull-left">
                <li><a href ui-sref="home"><i class="fa menu-common hvr-bob" id="menu-facilaties"></i><br>Home</a></li>
                <li><a href ui-sref="about"><i class="fa menu-common hvr-bob" id="menu-aboutus"></i><br>About Us</a></li>
                <li><a href ui-sref="curriculum"><i class="fa menu-common hvr-bob" id="menu-curriculam"></i><br>Curriculum</a></li>
                <li><a href ui-sref="admission"><i class="fa menu-common hvr-bob" id="menu-news-events"></i><br>Admission</a></li>
            </ul>


                <img class="img-responsive wow zoomIn animated main-logo" data-wow-delay=".9s" src="assets/images/slices/logo.png"/>

                <ul class="nav navbar-nav nabvar-lt pull-right">
                    <li><a href ui-sref="career"><i class="fa menu-common hvr-bob" id="menu-carreer"></i><br>Career</a></li>
                    <li><a href ui-sref="contactus"><i class="fa menu-common hvr-bob" id="menu-gallery"></i><br>Contact Us</a></li>
                    <li><a href ui-sref="pupils"><i class="fa menu-common hvr-bob" id="menu-pupils"></i><br>Students</a></li>
                    <li><a href ui-sref="parents"><i class="fa menu-common hvr-bob" id="menu-parents"></i><br>Parents</a></li>
                </ul>


    </div>
</div>
</div>
<!--Menu End-->
<div class="container-fluid" ui-view="main" style="padding-left: 0;padding-right: 0;">

    <!--<div class="se-pre-con">-->
    <!--&lt;!&ndash;<i class="fa fa-refresh fa-spin"></i>&ndash;&gt;-->
    <!--</div>-->

</div>

<!--..............................................java script for nav.........................-->

<a id="scroll_top" href="#top" class="scrollup hvr-float-shadow"><i class="fa fa-chevron-up"></i></a>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.js"></script>
    <script src="assets/js/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="assets/js/angular-bootstrap-lightbox.min.js" type="text/javascript"></script>
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>

    <script>
        new WOW().init();
    </script>
     <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{
        "parsetags"
    :
        "explicit"
    }</script>

    <script>
    $(document).scroll(function () {
        if ($(this).scrollTop() > 20) {
            $(".large_menu").addClass('normal_menu');
    //$("#logo_name").show():

            }
            else {
                $(".large_menu").removeClass('normal_menu'); // Add brandnewclass for transition effects while returning back to the previous state.\
    // $("#logo_name").hide():
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 600) {
                    $('#scroll_top').fadeIn();
                } else {
                    $('#scroll_top').fadeOut();
                }
            });
            $("a[href='#top']").click(function () {
                $("html, body").animate({scrollTop: 0}, "slow");
                return false;
            });

        });
    </script>

    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
        });
    </script>

</body>
</html>
