<div class="container-fluid hidden-sm hidden-xs" id="la_topslide_div" style="padding-left: 50px;padding-right: 50px; padding-bottom: 50px; margin-top: -16px">
    <div class="row">
        <div class="col-xs-12" ng-controller="CarouselDemoCtrl" >
            <!--<div style=" width: 100%;position: absolute;z-index: 5;">-->
                <!--<div id="top_triangle"></div>-->
            <!--</div>-->
            <carousel interval="myInterval" style="    box-shadow: 0px 5px 15px 1px #333;">
                <slide ng-repeat="slide in slides" active="slide.active" ng-style="carouselHeight">
                    <img ng-src="{{slide.image}}" ng-style="carouselStyle">
                    <div class="text-center top-slide-block">
                        <!--<img src="assets/images/slices/islamic.png">-->
                        <h1>{{slide.title}}</h1>
                        <h2>{{slide.subtitle}}</h2>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="hidden-lg hidden-md mobile-top-div">
    <img class="img-responsive" src="assets/images/slide-3.jpg"/>
    <div class="mobile-top-div-text"> 
        <h2>WE BUILD CHAMPIONS</h2>
        <h3>VARIED EXPERIENCES FOR LEARNING AND COMPLETING DEVELOPMENTAL TASKS.FREEDOM, OPPORTUNITY AND ENCOURAGEMENT TOWARDS DEVELOPING RESPONSIBILITY, SELF CONTROL AND INDEPENDENCE WHILE MAINTANING RESPECT FOR OTHERS.</h3>
    </div>
</div>


<div class="container-fluid" id="la_facilities_div">
    <div class="container">
        <div class="triangle_common" id="facilities_triangle">
            <div class="tri_content_div hvr-grow" style="bottom: 3vw;">
                <div class="triang_img_div">
                    <img class="img-responsive" src="assets/images/dn-facilities.png"/>
                </div>
                <span>Facilities</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 header_h2_h3" style="margin-bottom:0vw">
                <h1>Stellar Campus Facilities</h1>
                <h2>Comfy, cozy, and a safe haven for your children</h2>
                <br/> <br/> <br/> <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <!--<section class="wow slideInLeft">-->
                        <section class="wow fadeInLeft animated" style="visibility: visible; animation-name: slideInLeft;">
                            <div class="faci_cont_comm text-center faci_cont_one-multimedia">
                                <img class="img-responsive" src="assets/images/multimedia.jpg"/>

                                <div class="faci_inner_cont">
                                    <h2>Multimedia Centre</h2>

                                    <p>An area has been set aside where concepts already taught in the classroom are
                                        reinforced using interactive
                                        learning via computers and the audio video unit. Children starting from Play
                                        Group will be using this facility.</p>
                                    <!--<span><button type="button" class="btn btn-default btn-lg btn-block facilities-btn">Button</button></span>-->
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="wow fadeInRight animated" data-wow-delay=".5s">
                            <div class="faci_cont_comm text-center faci_cont_one">
                                <img class="img-responsive" src="assets/images/libraries.jpg"/>

                                <div class="faci_inner_cont">
                                    <h2>Libraries</h2>

                                    <p>A careful selection of books for all levels of learners has been made
                                        available.</p>
                                    <!--<span><button type="button" class="btn btn-default btn-lg btn-block facilities-btn">Button</button></span>-->
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="wow fadeInDown animated" data-wow-delay="1s">
                            <div class="faci_cont_comm text-center" id="faci_cont_two">
                                <img class="img-responsive" src="assets/images/classroom.jpg"/>

                                <div class="faci_inner_cont">
                                    <h2>Classrooms</h2>

                                    <p>The incorporation of EPL and sensorial education which has been adapted from the
                                        Montessori approach.</p>
                                    <!--<span><button type="button" class="btn btn-default btn-lg btn-block facilities-btn">Button</button></span>-->
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="wow fadeInUp animated" data-wow-delay="1.5s">
                            <div class="faci_cont_comm text-center" id="faci_cont_three">
                                <img class="img-responsive" src="assets/images/playgrounds.jpg"/>

                                <div class="faci_inner_cont">
                                    <h2>Playgrounds</h2>

                                    <p>The children have extensive outdoor play area which is crucial for the
                                        development of gross motor skills.</p>
                                    <!--<span><button type="button" class="btn btn-default btn-lg btn-block facilities-btn">Button</button></span>-->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <br class="clr"/>

            </div>
        </div>

    </div>
</div>


<!--25-06-15-->
<!--Update1 start-->
<div class="container-fluid update1-main-wrapper">
    <div class="container update1-wrapper">

        <div class="triangle_common" id="updates1_triangle">
            <div class="tri_content_div hvr-grow" style="bottom: 3.99vw;">
                <div class="triang_img_div">
                    <img class="img-responsive" src="assets/images/dn-updates.png"/>
                </div>
                <span>Updates</span>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <!--Upcoming Events start-->
            <div class="col-md-6 text-center update1-left-wrapper">
                <div class="update1-left" ng-controller="UpdateLeftCtrl">
                    <div class="upcoming-events">
                        <img class="img-responsive wow fadeInDown animated hidden-xs" src="assets/images/upcoming_events.png">
                        <!--class="wow fadeInDown animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInDown;"-->
                        <h1 class="wow fadeInLeft animated" data-wow-delay="1s">Upcoming Events </h1>
                        <!--<hr style="border-top: 2px solid green;width: 68%;">-->
                        <hr style="width: 100%; border-top: 2px solid rgb(49, 168, 104); box-shadow: 0px 1px 0px 0px rgb(108, 227, 163);">
                    </div>
                    <div class="latest-article" ng-repeat="sinevt in allevent">
                        <div class="block">
                            <!--<img class="img-responsive" src="assets/images/latest-articale3.png">-->
                            <!-- <img class="img-responsive" src="{{blink}}/{{sinevt.image}}"> -->
                            <div class="block-text">
                                <h2 style="color: rgb(16, 156, 92); text-shadow: 1px 2px 1px rgb(86, 205, 141);">
                                    {{sinevt.name}}</h2>

                                <h3>{{sinevt.details}}</h3>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--Upcoming Events End-->

            <!--Latest News Start-->
            <div class="col-md-6 update1-right-wrapper" ng-controller="LatestRightCtrl">
                <div class="text-center upcoming-events">
                    <img class="img-responsive wow fadeInDown animated hidden-xs" data-wow-delay=".5s" src="assets/images/latest_news.png">

                    <h1 class="wow fadeInRight animated" data-wow-delay="1.5s">Latest News</h1>
                    <hr style="width: 100%; border-top: 2px solid rgb(49, 168, 104); box-shadow: 0px 1px 0px 0px rgb(108, 227, 163);">
                </div>
                <div class="latest-article" ng-repeat="sinnews in allnews">
                    <h2 class="block" style="font-size: 18px;">{{sinnews.description}}</h2>
                    <hr>
                </div>
            </div>
            <!--Latest News End-->
        </div>
    </div>
</div>

<!--Update1 End-->

<!--Update2 Start-->
<div class="container-fluid update2-main-wrapper">
    <div class="container update2-wrapper">

        <div class="triangle_common" id="updates2_triangle">
            <div class="tri_content_div hvr-grow" style="bottom: 3.1vw;">
                <div class="triang_img_div">
                    <img class="img-responsive" src="assets/images/dn-updates2.png"/>
                </div>
                <span>Updates</span>
            </div>
        </div>

        <div class="container text-center">
            <div class="head-text">
                <h1>WHAT WE'VE BEEN UP TO</h1>

                <h2>Check out all the fun in educational goodness!</h2>
            </div>
        </div>

        <div class="container img-slider">
            <!-- <carousel interval="IntervalTwo"> -->
            <!-- <slide active="slide.active"> -->
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <a href ui-sref="awardGivingCeremony">
                            <img class="img-responsive" src="assets/images/imageGallery/award-giving-ceremony/13.jpg"/>
                        </a>
                        <h4 class="text-center">Award Giving Ceremony</h4>
                    </div>
                </div>

                <div class="col-md-4 img-slider-col2">
                    <div class="wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <a href ui-sref="classrooms">
                            <img class="img-responsive" src="assets/images/imageGallery/classrooms/18.jpg"/>
                        </a>
                        <h4 class="text-center">Class Rooms</h4>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                        <a href ui-sref="studyTour">
                            <img class="img-responsive animated bounceInRight" src="assets/images/imageGallery/study-tour/2.jpg"/>
                        </a>
                        <h4 class="text-center">Study Tour</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Update2 End-->

<!--Contact Start-->
<div class="container-fluid contact-main-wrapper">
    <div class="container contact-wrapper">

        <div class="triangle_common" id="contact_triangle">
            <div class="tri_content_div hvr-grow" style="bottom: 5.6vw;">
                <div class="triang_img_div">
                    <img class="img-responsive" src="assets/images/dn-contact.png"/>
                </div>
                <span>Contact</span>
            </div>
        </div>

        <form class="form-horizontal contact-form" id="contactFrm" name="userForm"
              ng-submit="submitForm(userForm.$valid)" novalidate ng-controller="ContactCtrl">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="email.name" id="inputName" placeholder="Your Name"
                           required>

                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is
                        required.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Your Email"
                           ng-model="email.mail" required>

                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid
                        email.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="email.subject" id="inputSubject"
                           placeholder="Subject" required>

                    <p ng-show="userForm.subject.$invalid && !userForm.subject.$pristine" class="help-block">Subject is
                        required.</p>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="inputMessage" ng-model="email.msg" placeholder="Message"
                          style="padding-top: 20px;">
                </textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid"
                    ng-click="sendEmail(email)">Send
            </button>
        </form>

        <div class="row col-md-12 address-map-wrapper">
            <!--<section class="wow slideInLeft">-->
            <div class="col-md-6 our-address">
                <section class="wow slideInLeft">
                    <div class="address-block">
                        <h3>Our address</h3>
                        <hr style="border-color: rgb(215, 223, 222); box-shadow: 0px 1px 0px 0px rgb(255, 255, 255);">
                        <h5>Dhanmondi Branch: House No. 59, Road No. 6/A, Dhanmondi R/A, Dhaka - 1205.</h5>

                        <div class="ma-ph-div">
                            <span><img src="assets/images/telephone.png"/></span> Phone- 9135448<br>
                        </div>
                        <!-- <br> -->
                        <h5>Road# 135, House# SEB-6, Gulshan-01, Dhaka-1212.</h5>

                        <div class="ma-ph-div">
                            <span><img src="assets/images/telephone.png"/></span>Phone - 986-2750, 988-2741<br>
                        </div>
                        <h5>E-mail: lakehead.grammar@gmail.com</h5>

                        <div class="soc-icon-div">
                            <div><img class="img-responsive hvr-hang" src="assets/images/twiter.png"/></div>
                            <div><img class="img-responsive hvr-hang" src="assets/images/in.png"/></div>
                            <div><img class="img-responsive hvr-hang" src="assets/images/youtube.png"/></div>
                            <div><a href="https://www.facebook.com/pages/Lakehead/672447919521370?pnref=lhc"><img
                                    class="img-responsive hvr-hang" src="assets/images/facebook.png"/></a></div>
                        </div>
                    </div>
                </section>
            </div>
            <!--</section>-->

            <div class="col-md-6 hidden-sm hidden-xs">
                <section class="wow slideInRight">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                            width="570" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </section>
            </div>
            <div class="col-md-6 hidden-lg hidden-md hidden-xs" style="margin-top: 50px;">
                <section class="wow slideInRight">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                            width="570" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </section>
            </div>
            <div class="col-md-6 hidden-lg hidden-md hidden-sm"
                 style="margin-top: 50px;position:relative;right:0;left:0;overflow:hidden">
                <section class="wow slideInRight">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1363299787427!2d90.37465150000001!3d23.742517399999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4b2c9c5c61%3A0x6ee9e50014e42de7!2sLakehead+Grammar+School!5e0!3m2!1sen!2sbd!4v1438259179665"
                            width="380" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
                </section>
            </div>
        </div>
    </div>
</div>
